{% extends 'all-pages/base.html' %}


{% load bootstrap4 %}
{% load static %}


{% block content %}

    <div class="container-fluid">
      
     <div class="row">
            <div class="topnav">
                    <a class="active" href="{% url 'create-hoods' %}">Register your hood</a>
                    <a href="/userprofile">profile</a>
                    <a href="{% url 'create-profile' %}">Create profile</a>
                    <a href="/alert">Messages</a>
                    <a href="{% url 'create-post' %}">Add post</a>
                    <a href="#contact">Contact</a>
                    <input type="text" placeholder="Search..">
             </div>
        <div class="bgimg">
             <div class="topleft">
               <p>Logo</p>
             </div>
             <div class="middle">
               <h1>COMING SOON NEIGHBOURHOOD</h1>
               <hr>
               <p id="demo" style="font-size:30px">Keep your eyes open</p>
               <hr>
               <button><a class="btn btn info" href="{% url 'join-one' %}">Join a neighbourhood</a></button>
             
             </div>
             <div class="bottomleft">
               <p>Some text</p>
             </div>
           </div>
     </div>
     <div style="height: 20px">

     </div>

    

     <div class="footer">
            <p>Footer</p>
    </div>
    </div>
   
{% endblock %} 