<!-- {% extends 'all-pages/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
        
         <nav style="text-align: center; font-style:italic; ">
                <a href="{% url 'posted' %}" class="btn btn-warning">Posts</a>
                <a href="{% url 'create-post' %}" class="btn btn-success">Add a post</a>
                <a href="{% url 'home' %}" class="btn btn-danger">exit</a>
         </nav>
        </div>

        <div class="row">
                <div class="col-md-2"></div>
            <div class="col-md-6">
                    {% for profile in profiles %}
                    <div class="card">
                        <img src="{{profile.avatar.url}}" alt="John" style="width:100%">
                        <h1>{{profile.name}}</h1>
                        <p class="title">By {{profile.username}} on {{profile.pub_date}}</p>
                        <h3>{{profile.description}}</h3>
                        <div style="margin: 24px 0;">
                          <a href="#"><i class="fa fa-dribbble"></i></a> 
                          <a href="#"><i class="fa fa-twitter"></i></a>  
                          <a href="#"><i class="fa fa-linkedin"></i></a>  
                          <a href="#"><i class="fa fa-facebook"></i></a> 
                        </div>
                        <p><button>Contact</button></p>
                      </div>
                    {% endfor %}
                </div>
                
                
        <div class="col-md-4">
           
                {% for profile in profiles %}
                
                <div class="card">
                    <img src="{{profile.avatar.url}}" style="height: 70px; width:70px; border-radius: 50px;">
                    
                    <div class="card-body">
                     <h1>{{profile.username}}</h1>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} -->